html {
    height: 100%;
}

body {
    background-color: #fff;
    height: 100%;
    width: 100%;
  }

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}